/* app css stylesheet */

      .relpos {
        position: relative;
      }
.container-full {
  margin: 0 auto;
  width: 100%;
}


      .relpos {
        position: relative;
      }

      .target {
        left: 0;
        top: 0;
        width: 90%;
        height: 480px;
        max-width: 960px;
        max-height: 900px;
        vertical-align: middle;
        text-align: center;
        color: white;
        background-color: #444;
        margin: 15px auto;
        font-size: 36pt;
        font-family: 'Futura', 'Avenir', 'Helvetica', sans-serif;
      }
    
      *{
      margin: 0;
      padding: 0;
    }
    .box{
      display: table;
      height: 480px;
      width: 90%;
      max-width: 960px;
      max-height: 900px;
      position: relative;
      margin: 15px auto;
    }

    @media only screen and (max-width: 479px){
      .box { width: 90%; }
    }
    .card{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      border: 1px solid #cdcdcd;
      border-radius: 5px;
      overflow: hidden;

      -webkit-transition: all .25s ease-in-out;
         -moz-transition: all .25s ease-in-out;
          -ms-transition: all .25s ease-in-out;
           -o-transition: all .25s ease-in-out;
              transition: all .25s ease-in-out;
    }

    .card-wrap{  
      position: relative;
      height: 100%; width: 100%;
    }

    .card:nth-child(1){
      z-index: 4;
    }
    .card:nth-child(2){
      z-index: 3;

      -webkit-transform: scaleX(0.95) translateY(4px);
         -moz-transform: scaleX(0.95) translateY(4px);
          -ms-transform: scaleX(0.95) translateY(4px);
           -o-transform: scaleX(0.95) translateY(4px);
              transform: scaleX(0.95) translateY(4px);
    }
    .card:nth-child(3){
      z-index: 2;
      
      -webkit-transform: scaleX(0.90) translateY(8px);
         -moz-transform: scaleX(0.90) translateY(8px);
          -ms-transform: scaleX(0.90) translateY(8px);
           -o-transform: scaleX(0.90) translateY(8px);
              transform: scaleX(0.90) translateY(8px);
    }
    .image-holder{
      height: 88%;
      width: 100%;
      background-color: #efefef;

      position: relative;
    }
    .guy{
      position: absolute;
      left: 50%;
      top: 50%;
      max-width: 100%;
      max-height: 100%;

      -webkit-transform: translate(-50%, -50%);
         -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
           -o-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
    }
    .stamp{
      font-size: 30px;
      font-weight: bold;
      border: 2px solid #1DBE53;
      position: absolute;
      z-index: 1;
      border-radius: 5px;
      text-transform: uppercase;
      padding: 5px 18px;
      display: none;
    }
    .tlike{
      background-image: url(../../images/tinder_like.png); 
      background-repeat:no-repeat;
      background-position: top right;
      width: 100%;
      height: 100%;
    }
    .tdislike{
      background-image: url(../../images/tinder_like.png); 
      background-repeat:no-repeat;
      background-position: top right;
      width: 100%;
      height: 100%;
    }

    .like .stamp{
      top: 50px;
      left: 20px;
      color: #1DBE53;
      text-shadow: 1px 1px 3px #125829;
      background-image: url(/public/images/tinderlike); 

      -webkit-transform: rotate(-37deg);
         -moz-transform: rotate(-37deg);
          -ms-transform: rotate(-37deg);
           -o-transform: rotate(-37deg);
              transform: rotate(-37deg);
    }
    .dislike .stamp{
      top: 50px;
      right: 20px;
      color: #F44336;
      border-color: #F44336;
      text-shadow: 1px 1px 1px rgba(137, 24, 15, 0.81);

      -webkit-transform: rotate(37deg);
         -moz-transform: rotate(37deg);
          -ms-transform: rotate(37deg);
           -o-transform: rotate(37deg);
              transform: rotate(37deg);
    }
    .details-holder{
      font-family: verdana;
      padding: 5px 10px;
    }
    .name{
      color: #555;
        font-size: 16px;
    }
    .meta{
      color: #888;
      font-size: 13px;
    }
    p{
      margin: 0px;
    }